<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a id="logo" href="/">Logo</a>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </nav>
    </div>
</header>
