<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>Sample Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    {{> header}}

    <div id="body-container" class="container">
        {{{content}}}

        {{> footer}}
    </div>

    {{> routes}}
    {{> client-scripts}}
</body>
</html>
